<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneyapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="ocr" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".SpeechService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".wallet.Wallet"
            android:screenOrientation="portrait"
            />
        <activity android:name=".wallet.EditWallet"
            android:screenOrientation="portrait"
            />
        <activity android:name=".wallet.WalletCoins"
            android:screenOrientation="portrait"
            />
        <activity android:name=".history.History"
            android:screenOrientation="portrait"/>
        <activity android:name=".transaction.Camera"
            android:screenOrientation="portrait" />
        <activity android:name=".transaction.PaySuggestion"
            android:screenOrientation="portrait"/>
    </application>

</manifest>